body{
    font-family: "Inter", sans-serif;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
 
    
}


ul li a:visited{
    color: #a10aed;
}

ul li a:hover{
    color: #e2145d;
}

ul li a:active{
    color: #1294da;
}